<h2>My Todo's </h2>

<div class="alert alert-success" *ngIf="deleteMessage">{{deleteMessage}}</div>

<div class = "container">
  <table class="table">
    <thead>
    <tr class="table-header">
      <th>Description</th>
      <th>Time Target</th>
      <th>Is it Done?</th>
      <th>Update</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody class="table-tabs">
    <tr *ngFor="let todo of todos">
      <td>{{todo.description | uppercase}}</td>
      <td>{{todo.targetDate | date}}</td>
      <td>{{todo.done}} </td>
      <td><button class="btn btn-success" (click)="updateTodo(todo.id)">Update</button></td>
      <td><button class="btn btn-danger" (click)="deleteTodo(todo.id)">Delete</button></td>
    </tr>
    </tbody>
  </table>

  <div class="col-1">
      <button (click)="createTodo()" class="btn btn-dark" >Create</button>
  </div>

</div>

